body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.back-button {
    display: inline-block;
    margin-top: 10px; /* Отступ сверху для лучшего визуального восприятия */
    padding: 10px 20px; /* Внутренние отступы для кнопки */
    background-color: #ff8c00; /* Оранжевый фон для кнопки */
    color: #fff; /* Белый текст */
    text-decoration: none; /* Убрать подчеркивание */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

.back-button:hover {
    background-color: #ffa500; /* Цвет при наведении */
}

h1 {
    margin: 0;
}

main {   
     display: flex;
     flex-direction: column;
    padding: 2rem;
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brand {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 1rem;
    padding: 1rem;
    width: 30%;
}

.brand h2 {
    margin-top: 0;
}

footer {
    background-color: rgba(107, 99, 99, 0.7); /* Цвет с прозрачностью (полупрозрачный) */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    backdrop-filter: blur(10px); /* размытие фона */
} 
.main{
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
}
.brand-name{
    font-size: 80px;
}
img {
    max-width: 350px;
    height: auto;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px; /* Скругленные углы */
    margin-bottom: 10px; /* Отступ снизу для лучшего визуального восприятия */
  }
/* Общий стиль для всех изображений iPhone */

hr {
    border-top: 5px solid rgb(44, 144, 164);
}

/* Цвета границ для каждого устройства */
.iphone12 {
    border-color: #FF3B30; /* Красный (цвет кнопки) */
}

.iphone13 {
    border-color: #007AFF; /* Синий цвет */
}

.iphone14 {
    border-color: #FF9500; /* Оранжевый цвет */
}

.iphone14pro {
    border-color: #AF52DE; /* Пурпурный цвет */
}
