body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {   
     display: flex;
     flex-direction: column;
    padding: 2rem;
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brand {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 1rem;
    padding: 1rem;
    width: 30%;
}

.brand h2 {
    margin-top: 0;
}

footer {
    background-color: rgba(107, 99, 99, 0.7); /* Цвет с прозрачностью (полупрозрачный) */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    backdrop-filter: blur(10px); /* размытие фона */
} 
.main{
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
}
.brand-name{
    font-size: 80px;
}
.image {
    max-width: 200px;
    height: auto;
  }